.total {
  font-family: Roboto;
  color: #616e7c;
  font-size: 80%;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.total-span {
  font-family: Roboto;
  color: #616e7c;
  font-size: 120%;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.length {
  font-family: Roboto;
  color: #616e7c;
  font-size: 60%;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.checkout-btn {
  width: 100%;
  height: 4vh;
  font-family: Roboto;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  font-weight: 400;
  border: solid 0px;
  border-radius: 5px;
  margin-top: 2%;
  background-color: #0b69ff;
}
